[submodule "c++/references/muduo"]
	path = c++/references/muduo
	url = https://github.com/chenshuo/muduo
[submodule "c++/references/curl"]
	path = c++/references/curl
	url = https://github.com/curl/curl
[submodule "c++/references/log4cplus"]
	path = c++/references/log4cplus
	url = https://github.com/log4cplus/log4cplus
[submodule "c++/references/boost"]
	path = c++/references/boost
	url = https://github.com/boostorg/boost
[submodule "c++/references/jsoncpp"]
	path = c++/references/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
